@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#dfdee0, #c3c3c4);
  color: #e5d9f1;
  min-height: 100vh;
}
/*MainGoal.jsx*/
#main {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 30rem;
  border-radius: 6px;
  background: linear-gradient(#341a89, #3a1967);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
#code {
  font-size: 1rem;
  background-color: #2f0c51;
  padding: 0.1rem 0.25rem;
  border-radius: 4px;
}

/*MainUser.jsx*/
#MainUser {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 40rem;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(#1f1d25, #17131c);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#h1 {
  letter-spacing: 0.15rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

#user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
  background: linear-gradient(#faca71, #fae571);
  color: #1f1d25;
  max-width: 20rem;
  animation: pulse 2s infinite;
}

#user h2 {
  text-transform: uppercase;
  margin: 0.25rem 0;
  font-size: 1.15rem;
  font-weight: normal;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(250, 229, 113, 0.7);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(250, 229, 113, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(250, 229, 113, 0);
  }
}

#user p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

#h2 {
  letter-spacing: 0.15rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
/*CourseGoal.jsx*/
#coursegoal {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 40rem;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(#2a2722, #413c35);
  color: #f4e9d7;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#coursegoal > p {
  margin: 0;
  color: #b3aa9c;
}

ul {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

#courseGoal {
  margin: 1rem auto;
  padding: 0.5rem;
  max-width: 20rem;
  background: #fbd9a3;
  color: #302b23;
  border-radius: 4px;
  text-align: left;
}

li h2,
li p {
  margin: 0;
}

li h2 {
  font-family: "Lato", sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #736957;
  margin-bottom: 0.5rem;
}

li p {
  font-size: 0.9rem;
  color: #474034;
}
/*Card.jsx*/
.card {
  margin: 2rem auto;
  padding: 2rem;
  max-width: 30rem;
  border-radius: 6px;
  background: linear-gradient(#254041, #203031);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.card h2 {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #e5d9f1;
}

.card p {
  margin: 0.5rem 0;
}

.card a {
  color: #b3f4f6;
  text-decoration: none;
}
/*AddEvent.jsx*/
#addevent {
  margin: 2rem auto;
  padding: 0.5rem 2rem;
  max-width: 25rem;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(#230736, #301247);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: left;
  color: #9f80bf;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #493066;
  background: #493664;
  color: #e5d9f1;
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#add-event-button {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #5812b9;
  background: #5812b9;
  color: #e5d9f1;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

#add-event-button:hover {
  background: #070608;
}
/*AddConfigure.jsx*/
#add-configure {
  margin: 2rem auto;
  padding: 0.5rem 2rem;
  max-width: 25rem;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(#230736, #301247);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#add-configure-h1 {
  letter-spacing: 0.1rem;
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  color: #c7a0ee;
}

#add-configure-label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-align: left;
  color: #9f80bf;
}

#add-configure-input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #493066;
  background: #493664;
  color: #e5d9f1;
  font-size: 0.9rem;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#add-configure-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

#add-configure-button {
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #5812b9;
  background: #5812b9;
  color: #e5d9f1;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

#add-configure-button:hover {
  background: #6c1fd6;
}

#usestate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#usestate p {
  align-self: center;
  color: red;
}

#usestate button {
  align-self: center;
  height: 50px;
  width: 100px;
}

/*AddConditionalstate.jsx*/
#addcondition {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#alert {
  flex-direction: column;
  margin: 3rem auto;
  padding: 1rem;
  width: 15rem;
  border: 2px solid #dd3562;
  background-color: #776167;
  color: white;
}

#addcondition button {
  margin-top: 10px;
  border: none;
  padding: 0.5rem 1.5rem;
  background-color: #540218;
  color: red;
  border-radius: 4px;
  cursor: pointer;
}

#dynamic {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active {
  color: red;
}

#addlistul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#addlistli {
  list-style: none;
  margin-left: 30rem;
  padding: 1rem;
  background-color: blue;
  color: white;
  border: 2px solid #8567fd;
  border-radius: 6px;
}

/* SummmaryText.jsx */

#summary {
  margin-left: 30rem;
  padding: 1rem;
  max-width: 30rem;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(#341a89, #3a1967);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#summary-h1 {
  letter-spacing: 0.15rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

/* InputProps.jsx */

#addprops {
  width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  background: linear-gradient(#5d6965, #5b6d66);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

input,
textarea {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #979a99;
  background: #e5e8e7;
  width: 100%;
  margin: 1rem 0;
}

/* SummmaryText.jsx */

#summary {
  margin-left: 30rem;
  padding: 1rem;
  max-width: 30rem;
  text-align: center;
  border-radius: 6px;
  background: linear-gradient(#341a89, #3a1967);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

#summary-h1 {
  letter-spacing: 0.15rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

/* InputProps.jsx */

#addprops {
  width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  background: linear-gradient(#5d6965, #5b6d66);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

input,
textarea {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #979a99;
  background: #e5e8e7;
  width: 100%;
  margin: 1rem 0;
}

/* ShowButton.jsx */

section {
  margin: 1rem auto;
  max-width: 30rem;
}

#button-h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #030a1b;
}

.button {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
}

.icon-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.button-icon {
  width: 1rem;
  height: 1rem;
}

.filled-button {
  background: linear-gradient(#7fa1f7, #6085e4);
  color: #030a1b;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.filled-button:hover {
  background: linear-gradient(#89a9fb, #6890f6);
}

.filled-button:disabled {
  background: #a3a9b7;
  color: #3a445c;
  box-shadow: none;
  cursor: not-allowed;
}

.outline-button {
  border: 1px solid #2658d6;
  color: #2658d6;
}

.outline-button:hover {
  background: #cbd8fc;
}

.text-button {
  color: #2658d6;
}

.text-button:hover {
  background: #cbd8fc;
}

/* AddFeedback.jsx */

#feedback {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #669ae7;
  color: #041023;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#feedback p {
  margin: 0.5rem 0;
}

#feedback label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #364660;
  font-size: 0.85rem;
  margin: 0.25rem 0;
}

#feedback input,
#feedback textarea {
  font: inherit;
  display: block;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #798aa9;
  background-color: #b4c4e6;
  color: #041023;
}

#draft {
  font-family: "Lato", sans-serif;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #67d7b0;
  color: #0b3929;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#draft figure {
  margin: 0;
  padding: 0;
}

#draft blockquote {
  margin: 0 2rem;
  padding: 0.5rem 1rem;
  background-color: #65b69a;
  border-radius: 4px;
  color: #042217;
  font-style: italic;
}

#draft blockquote p {
  margin: 0;
}

#draft figcaption {
  margin: 0.2rem 0;
  font-size: 0.75rem;
}

#draft button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  background-color: #0b3929;
  color: #ecf8f4;
  font-size: 1rem;
  cursor: pointer;
}

section {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background: #6a887f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #000000;
}

section h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 1.25rem;
}

#workout-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.show-workout {
  margin-left: 6rem;
  margin-top: 1rem;
  padding: 1rem;
  background: #87efce;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #000000;
  width: 20rem;
}

.show-workout h3 {
  font-size: 1.25rem;
  margin: 0;
}

.show-workout p {
  margin: 0.25rem 0;
  font-size: 0.875rem;
}

.show-workout button {
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: #054a35;
  color: #ffffff;
  font-size: 0.875rem;
  cursor: pointer;
}

.show-workout button:hover {
  background: #087f5b;
}
